Promotion/Promotion.Serial/Service References/T24DataMining/DataMiningServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSqlCommand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StandardSelectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removeEmptyColumn" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecSQLResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSQLWithRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSqlCommand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StandardSelectionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMinRange" type="xs:int" />
        <xs:element minOccurs="0" name="iMaxRange" type="xs:int" />
        <xs:element minOccurs="0" name="removeEmptyColumn" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecSQLWithRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecSQLWithRangeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecOracleCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOracleCommand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecOracleCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecOracleCommandResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSchema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removeEmptyColumn" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAccountByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentAccountByCustomerIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSchema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removeEmptyColumn" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllAccountByCustomerIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAZByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSchema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCustomerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removeEmptyColumn" type="xs:boolean" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAZByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAZByCustomerIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>